html{
    font-size:62.5%;
    color:#333;
}
body{
    font-size:1.4rem;
}
/*头部代码*/
#header{
    width:100%;
    background:#000;
    z-index:1;
    position:fixed;
    top:0;
    left:0;
    display:table;
}
#header h3{
    font-size:2rem;
    color:#fff;
    display:table-cell;
    width:45%;
    text-align:center;
    padding:1rem 0;
    /*padding-right:15%;*/
}
#header a{
    display:table-cell;
    vertical-align:middle;
    color:#fff;
}
#header a.icon_1{
    width:15%;
    padding-left:4%;
}
#header a.icon_2{
    width:15%; 
    padding-left:12%;
}

#header a span{
    display:inline-block;
    vertical-align:middle;
}
#header a img{
    width:50%;
}

/*个人中心页面*/
#main{
    /*margin-top:12%;*/
    width:100%;
    overflow:hidden;
    background:#eee;
}
#main .user-img{
    padding:2rem 0 10rem 0;
    background: -webkit-linear-gradient(right top, #3CF0A2 , #12BD9F); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(bottom left, #3CF0A2 , #12BD9F); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(bottom left, #3CF0A2 , #12BD9F); /* Firefox 3.6 - 15 */
    background: linear-gradient(to bottom left, #3CF0A2 , #12BD9F); /* 标准的语法 */
}
#main .user-img p{
    width:20%;
    margin:0 auto;
}
#main .user-img p img{
    width:100%;
}
#main .user-img p span{
    padding-top:0.5rem;
    font-size:16px;
}
#main .main-content{
    width:92%;
    margin:0 auto;
}
#main .main-content .score-list{
    width:100%;
    background:#fff;
    border-radius:1rem;
    margin-top:-8rem;
}
#main .main-content .score-list ul{
    padding:2rem 0;
}
#main .main-content .score-list ul li{
    float:left;
    width:33.3%;
    text-align:center;
}
#main .main-content .score-list ul li:nth-child(4),
#main .main-content .score-list ul li:nth-child(5),
#main .main-content .score-list ul li:nth-child(6){
    padding-top:2rem;
}
#main .main-content .score-list ul li p.score-num{
    font-size:1.8rem;
}
#main .main-content .score-list ul li p.score-project{
    color:#666;
    padding-top:0.5rem;
}
#main .main-content .erweima{
    width:100%;
    background:#fff;
    border-radius:1rem;
    margin-top:1rem;
}
#main .main-content .erweima p{
    width:60%;
    margin:0 auto;
    padding:3rem 0;
}
#main .main-content .erweima p img{
    width:100%;
}
#main .main-content .customer-info{
    width:100%;
    background:#fff;
    border-radius:1rem;
    margin-top:1rem;
    margin-bottom:2rem;
}
#main .main-content .customer-info ul li{
    padding:1rem 0;
}
#main .main-content .customer-info ul li:not(:last-child){
    border-bottom:1px solid #eee;
}
#main .main-content .customer-info ul li p{
    /*width:45%;*/
    vertical-align:middle;
}
#main .main-content .customer-info ul li p.fl{
    padding-left:1rem;
}
#main .main-content .customer-info ul li p.fl span{
    display:inline-block;
    width:25%;
    vertical-align:middle;
    overflow:hidden;
    margin-right:1rem;
}
#main .main-content .customer-info ul li p.fl span img{
    width:100%;
}
#main .main-content .customer-info ul li p.fr{
    text-align:right;
    padding-right:1rem;
    padding-top:0.5%;
}
#main .main-content .customer-info ul li p.fr span{
    display:inline-block;
    width:0.7rem;
    vertical-align:middle;
    overflow:hidden;
    margin-left:1rem;
}
#main .main-content .customer-info ul li p.fr span img{
    width:100%;
}
#main .main-content .customer-info ul li:hover{
    background:rgba(0,0,0,0.1);
}
#main .main-content .customer-info ul li:first-child{
    border-radius:1rem 1rem 0 0;
}
#main .main-content .customer-info ul li:last-child{
    border-radius:0 0 1rem 1rem;
}

/*举报页面*/
#report-main{
    /*margin-top:15%;*/
    width:100%;
    overflow:hidden;
    background:#fff;
}
#report-main .report-main-content{
    width:92%;
    margin:3% auto;
}
#report-main .report-main-content ul li{
    font-size:1.6rem;
    padding:5% 0;
    border-bottom:1px solid #eee;
}
#report-main .report-main-content ul li input{
    margin-left:5%;
    border:none;
    width:80%;
}
#report-main .report-main-content ul li textarea{
    /*margin-top:1%;*/
    padding-left:3%;
    height:10rem;
    border:none;
    resize:none;
    width:83%;
    line-height:2.5rem;
    overflow-y:hidden;
}
#report-main .report-main-content ul li p{
    display:inline-block;
    vertical-align:top;
}
#report-main .report-main-content ul li p.font-number{
    color:#a0a0a0;
    float:right;
    font-size:1.4rem;
}
#report-main .report-main-content .jietu{
    padding-top:5%;
}
#report-main .report-main-content .jietu p{
    font-size:1.6rem;
    float:left;
}
#report-main .report-main-content .jietu p.font-number{
    float:right;
    font-size:1.4rem;
    color:#a0a0a0;
    vertical-align:center;
}
/*#report-main .report-main-content .jietu img{
    padding-top:5%;
    width:25%;
}*/
#report-main .report-main-content .jietu input{
    height:0;
    width:0;
}
#report-main .report-main-content .submit{
    margin-top:8%;
    margin-bottom:5%;
}
#report-main .report-main-content .submit button{
    color:#fff;
    border:none;
    background:#19C69F;
    width:100%;
    border-radius:0.2rem;
    font-size:1.6rem;
    padding:5% 0;
}
.z_file{
    margin-top:5%;
    width:6rem;
    height:6rem;
    background:url(../img/jietu.png) no-repeat;
    background-size:100%;
    margin-right:0.2rem;
}
.z_file input::-webkit-file-upload-button {
    width:6rem;
    height:6rem;
    border:none;
    position:absolute;
    outline:0;
    opacity:0;
}
#report-main .report-main-content .z_photo .z_addImg{
    width:24%;
    margin-top:8%;
    float:left;
    margin-left:1%;
}
#report-main .report-main-content .z_photo .z_file+.z_addImg{
    margin-left:0;
}
#report-main .report-main-content .z_photo div.z_addImg img{
    max-height:8rem;
    width:100%;
}


/*垃圾去哪儿页面*/
#garbage-main{
    /*margin-top:12%;*/
    width:100%;
    overflow:hidden;
    background:#eee;
}
#garbage-main .garbage-main-content{
    width:92%;
    margin:0 auto;
}
#garbage-main .garbage-main-content div.article {
    width:90%;
    background:#fff;
    border-radius:0.3rem;
    margin-top:8%;
    padding:5%;
}
#garbage-main .garbage-main-content div.article p.title{
    font-size:1.6rem;
    margin-bottom:2%;
}
#garbage-main .garbage-main-content div.article p.span-content{
    padding-bottom:3%;
    border-bottom:1px dashed #999;
}
#garbage-main .garbage-main-content div.article p.span-content span{
    font-size:1.4rem;
    color:#999;
}
#garbage-main .garbage-main-content div.article p.span-content span:last-child{
    margin-left:5%;
}
#garbage-main .garbage-main-content div.article p.article-content{
    margin-top:5%;
    font-size:1.4rem;
    color:#999;
    /*font-family:"宋体";*/
}
#garbage-main .garbage-main-content div.article ul{
    margin-top:30%;
}
#garbage-main .garbage-main-content div.article ul li{
    float:left;
    width:22%;
    margin-left:4%;
}
#garbage-main .garbage-main-content div.article ul li:first-child{
    margin-left:0;
}
#garbage-main .garbage-main-content div.article ul li img{
    width:100%;
}
#garbage-main .garbage-main-content div.opinion-reply{
    width:90%;
    background:#fff;
    border-radius:0.3rem;
    margin-top:5%;
    padding:5%;
}
#garbage-main .garbage-main-content div.opinion-reply p.title{
    font-size:1.4rem;
    color:#333;
    padding-bottom:3%;
    border-bottom:1px dashed #333;
}
#garbage-main .garbage-main-content div.opinion-reply p.content{
    font-size:1.4rem;
    color:#333;
    margin-top:3%;
    height:5rem;
}
#garbage-main .garbage-main-content button.change{
    color:#fff;
    border:none;
    background:#19C69F;
    width:100%;
    border-radius:0.2rem;
    font-size:1.6rem;
    padding:5% 0;
    margin-top:5%;
}
#garbage-main .garbage-main-content button.new{
    color:#fff;
    border:none;
    background:#1993C6;
    width:100%;
    border-radius:0.2rem;
    font-size:1.6rem;
    padding:5% 0;
    margin-top:3%;
    margin-bottom:5%;
}

/*商品详情页面*/
#goodsdetail-main{
    width:100%;
    background:#EEE;
    /*margin-top:14%;*/
    overflow:hidden;
}
#goodsdetail-main .goodsdetail-main-content .banner{
    width:92%;
    padding:5% 4%;
    background:#fff;
    border-bottom:1px solid #eee;
}
#goodsdetail-main .goodsdetail-main-content .banner img{
    width:100%;
}
#goodsdetail-main .goodsdetail-main-content .score-quan{
    width:100%;
    padding:5% 0;
    background:#fff;
    text-align:center;
}
#goodsdetail-main .goodsdetail-main-content .score-quan button{
    width:70%;
    padding:5% 0;
    border:none;
    background:#FD647D;
    border-radius:0.3rem;
    font-size:1.6rem;
    color:#fff;
}
#goodsdetail-main .goodsdetail-main-content .goods-introduce{
    margin-top:5%;
    background:#fff;
    padding:5% 4%;
}
#goodsdetail-main .goodsdetail-main-content .goods-introduce p{
    font-size:1.8rem;
}
#goodsdetail-main .goodsdetail-main-content .goods-introduce p img{
    width:5%;
    margin-right:3%;
}
#goodsdetail-main .goodsdetail-main-content .goods-introduce p.content{
    font-size:1.6rem;
    color:#666;
    margin-top:5%;
    width:90%;
    margin-left:7%;
}

/*积分礼遇页面*/
#scoregift-main{
    width:100%;
    background:#EEE;
    /*margin-top:12%;*/
    overflow:hidden;
}
#scoregift-main .scoregift-main-content .banner{
    width:100%;
}
#scoregift-main .scoregift-main-content .banner img{
    width:100%;
}
#scoregift-main .scoregift-main-content ul li{
    padding:4%;
    background:#fff;
    margin-top:4%;
}
#scoregift-main .scoregift-main-content ul li .fl{
    width:30%;
}
#scoregift-main .scoregift-main-content ul li .fl img{
    width:100%;
}
#scoregift-main .scoregift-main-content ul li .fr{
    width:65%;
}
#scoregift-main .scoregift-main-content ul li .fr .title{
    font-size:1.8rem;
}
#scoregift-main .scoregift-main-content ul li .fr .subtitle{
    font-size:1.6rem;
    color:#B1B1B1;
    margin-top:0.5rem;
}
#scoregift-main .scoregift-main-content ul li .fr .clearfix{
    margin-top:1rem;
}
#scoregift-main .scoregift-main-content ul li .fr .clearfix span{
    color:#FD647D;
    font-size:1.8rem;
    padding:0.5rem 0;
}
#scoregift-main .scoregift-main-content ul li .fr .clearfix button{
    font-size:1.8rem;
    color:#fff;
    background:#FD647D;
    border:none;
    padding:0.5rem 0;
    border-radius:2rem;
    vertical-align:top;
}
/*遮罩层处理*/
div.mask{
    position:fixed;
    width:100%;
    /*height:100%;*/
    background:rgba(0,0,0,0.3);
    z-index:1000;
    display:none;
}
.change-score{
    position:fixed;
    width:92%;
    left:4%;
    background:#fff;
    z-index:1001;
    top:20%;
    border-radius:0.5rem;
    display:none;
}
.change-score .border{
    width:100%;
    height:0.5rem;
    background:url(../img/border.png) repeat-x;
    border-radius:0.5rem 0.5rem 0 0;
}
.change-score .title{
    text-align:center;
    margin-top:10%;
    font-size:1.6rem;
}
.change-score ul{
    margin-top:8%;
    padding:0 5%;
}
.change-score ul li{
    padding:5% 0;
    border-bottom:1px solid #eee;
}
.change-score .bottom-change{
    margin:0 auto;
    margin-top:20%;
    width:80%;
}
.change-score .bottom-change p{
    font-size:1.8rem;
}
.change-score .bottom-change p span{
    color:#FD647D;
}
.change-score .bottom-change button{
    width:100%;
    background:#FD647D;
    border:none;
    border-radius:0.5rem;
    margin-top:3%;
    padding:5% 0;
    font-size:1.8rem;
    color:#fff;
    margin-bottom:10%;
}

/*绑定页面*/
#bindpage-main{
    width:100%;
    background:#EEE;
    /*margin-top:12%;*/
    overflow:hidden;
}
#bindpage-main .bindpage-main-content ul{
    margin-top:7%;
    background:#fff;
    padding:0 4%;
}
#bindpage-main .bindpage-main-content ul li{
    font-size:1.6rem;
    padding:5% 0;
    border-bottom:1px solid #eee;
}
#bindpage-main .bindpage-main-content ul li span{
    display:inline-block;
    width:20%;
}
#bindpage-main .bindpage-main-content ul li input{
    margin-left:5%;
    border:none;
    width:70%;
}
#bindpage-main .bindpage-main-content ul li:last-child input{
    width:35%;
}
#bindpage-main .bindpage-main-content ul li button{
    font-size:1.6rem;
    color:#fff;
    padding:0.5rem 1rem;
    border-radius:0.2rem;
    background:#19C69F;
    border:none;
    margin-left:0.5rem;
    vertical-align:center;
}
#bindpage-main .bindpage-main-content button.bind{
    width:92%;
    margin:0 4%;
    margin-top:5%;
    font-size:1.8rem;
    color:#fff;
    padding:5% 0;
    background:#19C69F;
    border:none;
    border-radius:.5rem;
}

/*手机号码页面*/
#phonenumber-main{
    width:100%;
    background:#EEE;
    /*margin-top:12%;*/
    overflow:hidden;
}
#phonenumber-main .phonenumber-main-content{
    width:92%;
    margin:0 auto;
}
#phonenumber-main .phonenumber-main-content .p-img{
    margin:20% auto 5%;
    width:40%;
}
#phonenumber-main .phonenumber-main-content .p-img img{
    width:100%;
}
#phonenumber-main .phonenumber-main-content .p-num{
    text-align:center;
    font-size:1.6rem;
}
#phonenumber-main .phonenumber-main-content button{
    width:100%;
    padding:5% 0;
    border:none;
    border-radius:0.5rem;
    background:#1993C6;
    font-size:1.8rem;
    color:#fff;
    margin-top:5%;
}
#phonenumber-main .phonenumber-main-content button.first-button{
    background:#19C69F;
    margin-top:20%;
}
#phonenumber-main .phonenumber-main-content button.first-button a{
    color:#fff;
}
/*遮罩层*/
div.mask_num{
    position:fixed;
    width:100%;
    background:rgba(0,0,0,0.3);
    z-index:1000;
    display:none;
}
/*手机号注销弹出窗*/
.num_cancel{
    position:fixed;
    width:60%;
    left:20%;
    background:#fff;
    z-index:1001;
    top:30%;
    border-radius:0.5rem;
    display:none;
}
.num_cancel p:first-child{
    text-align:center;
    font-size:1.8rem;
    padding:20% 0;
    border-bottom:1px solid #eee;
}
.num_cancel p:last-child{
    padding:5% 0;
}
.num_cancel p:last-child button{
    width:50%;
    text-align:center;
    border:none;
    background:none;
    font-size:1.8rem;
}
.num_cancel p:last-child button:last-child{
    color:#52D2B4;
}

/*更换手机号码页面*/
#bindpage-main .bindpage-main-content .old_num{
    text-align:center;
    margin-top:10%;
}

/*分类知识库*/
#knowlege-main{
    width:100%;
    overflow:hidden;
    background:#F5F5F5;
}
#knowlege-main .knowlege-main-content .garbage-search{
    width:100%;
    background:#fff;
}
#knowlege-main .knowlege-main-content .garbage-search .padding-content{
    width:85%;
    margin:0 auto;
    padding:10%;
    background:#fff;
}
#knowlege-main .knowlege-main-content .garbage-search .title{
    font-size:2.5rem;
    text-align:center;
    margin-bottom:10%;
}
#knowlege-main .knowlege-main-content .garbage-search .clearfix{
    background:#EEE;
    padding:0.5rem 0.5rem;
    border-radius:2rem;
}
#knowlege-main .knowlege-main-content .garbage-search .clearfix p{
    width:6%;
    padding-left:2%;
    margin-top:2%;
}
#knowlege-main .knowlege-main-content .garbage-search .clearfix p img{
    width:100%;
}
#knowlege-main .knowlege-main-content .garbage-search .clearfix input{
    margin-left:5%;
    background:none;
    border:none;
    margin-top:2%;
    width:50%;
    height:100%;
}
#knowlege-main .knowlege-main-content .garbage-search .clearfix input::-webkit-input-placeholder{
   /* placeholder颜色  */
   color: #333;
   /* placeholder字体大小  */
   font-size:1.6rem;
}
#knowlege-main .knowlege-main-content .garbage-search .clearfix button{
   font-size:1.6rem;
   color:#fff;
   background:#FD647D;
   border:none;
   padding:2% 10%;
   border-radius:100px;
}
#knowlege-main .knowlege-main-content .garbage-kinds{
    padding:0 8% 10% 8%;
}
#knowlege-main .knowlege-main-content .garbage-kinds ul{
    width:100%;
}
#knowlege-main .knowlege-main-content .garbage-kinds ul li{
    width:50%;
    text-align:center;
    font-size:1.6rem;
    float:left;
    margin-top:10%;
}
#knowlege-main .knowlege-main-content .garbage-kinds ul li img{
    width:70%;
}
#knowlege-main .knowlege-main-content .garbage-kinds ul li p{
    margin-top:1rem;
}

/*我的兑换页面*/
#myexchange-main{
    width:100%;
    background:#EEE;
    /*margin-top:12%;*/
    overflow:hidden;
}
#myexchange-main .myexchange-main-content ul li{
    padding:4%;
    background:#FCF9F9;
    margin-top:4%;
}
#myexchange-main .myexchange-main-content ul li .fl{
    width:30%;
}
#myexchange-main .myexchange-main-content ul li .fl img{
    width:100%;
}
#myexchange-main .myexchange-main-content ul li>.fr{
    width:65%;
    margin-top:5%;
}
#myexchange-main .myexchange-main-content ul li .fr .title{
    font-size:1.8rem;
}
#myexchange-main .myexchange-main-content ul li .fr .clearfix{
    margin-top:0.5rem;
}
#myexchange-main .myexchange-main-content ul li .fr .clearfix span{
    color:#9D9D9D;
    font-size:1.4rem;
    padding:0.5rem 0;
    width:55%;
}
#myexchange-main .myexchange-main-content ul li .fr .clearfix button{
    font-size:1.4rem;
    color:#fff;
    background:#FD647D;
    border:none;
    padding:0.5rem 0;
    border-radius:2rem;
    vertical-align:top;
    width:40%;
}
/*遮罩层处理*/
div.mask_myexchange{
    position:fixed;
    width:100%;
    background:rgba(0,0,0,0.3);
    z-index:1000;
    /*display:none;*/
}
.myexchange{
    position:fixed;
    width:80%;
    left:10%;
    background:#fff;
    z-index:1001;
    top:20%;
    border-radius:0.5rem;
    text-align:center;
    display:none;
}
.myexchange p{
    font-size:2rem;
    margin:10% 0;
}
.myexchange input{
    display:block;
    width:60%;
    margin:0 auto;
    background:#EEE;
    height:4rem;
    border-radius:0.5rem;
    border:none;
    padding:0 10%;
}
.myexchange button{
    width:60%;
    margin:8% 0;
    padding:3% 0;
    border-radius:0.5rem;
    border:none;
    background:#FD647D;
    font-size:1.8rem;
    color:#fff;
}

/*分类政策页面*/
#articallist-main{
    width:100%;
    overflow:hidden;
    background:#fff;
}
#articallist-main .articallist-main-content{
    width:92%;
    margin:4% auto;
}
#articallist-main .articallist-main-content ul li{
    padding:5% 0;
    border-bottom:1px solid #eee;
}
#articallist-main .articallist-main-content ul li:last-child{
    border:none;
}
#articallist-main .articallist-main-content ul li .fl{
    width:60%;
}
#articallist-main .articallist-main-content ul li .fl p.title{
    font-size:2.2rem;
}
#articallist-main .articallist-main-content ul li .fl p.date{
    font-size:1.8rem;
    color:#857B77;
    margin-top:1rem;
}
#articallist-main .articallist-main-content ul li .fr{
    width:35%;
    }#articallist-main .articallist-main-content ul li .fr img{
        width:100%;
    }

